{% extends 'base.html.twig' %}

{% block title %}{{laFiche.titre}}{% endblock %}

{% block body %}

<h1>{{ laFiche.titre| upper}}</h1>
de {{ laFiche.genre| upper}}
<br/>
<img src="{{ laFiche.poster}}" />
     <br/>  </br/>
<A href="{{path('film_listSQLLite')}}" >retour</A>
{% endblock %}
