{% extends 'base.html.twig' %}

{% block title %}{{laFiche.title}}{% endblock %}

{% block body %}

<h1>{{ laFiche.title| upper}}</h1>
de {{ laFiche.genre| upper}}
<br/>
<img src="{{ laFiche.poster}}" />
     <br/>  </br/>
<A href="{{path('film_list')}}" >retour</A>
{% endblock %}
